html {

}

@font-face {
    font-family: "SourceSansPro-Regular"; /* Гарнитура шрифта */
    src: url("../fonts/SourceSansPro-Regular.ttf");
    font-style: normal; 
    font-weight: normal;
}


@media (min-width: 768px) {.head_sp, .b_content, .l_head_sp, footer {width: 768px;}}
@media (min-width: 0px) and (max-width: 768px) {.head_sp, .b_content, .l_head_sp, footer {width: 100%;}}

p, h1, h2, h3 {font-family: "SourceSansPro-Regular"}
a, a:active, a:hover {color: #000000; text-decoration: none; font-family: "SourceSansPro-Regular"}

.head_sp, .b_content {display: block; min-height: 8em; margin-left: auto; margin-right: auto; margin-top: 1em;}
.logo_sp {display: block; float: left; width: auto;}
.logo_sp a img {width: 120px; margin-bottom: 1em;}
@media (min-width: 0px) and (max-width: 480px) {.logo_sp a  {width: 120px; margin-left: auto; margin-right: auto; display: block;}}
@media (min-width: 0px) and (max-width: 375px) {.call_and_messengers_sp {width: 170px; height: 6em; margin: 0; margin-left: auto; margin-right: auto; height: 8em; margin-bottom: 1em;}}
@media (min-width: 334px) {.call_sp, .messengers_sp  {margin-left: 2em;}}
@media (min-width: 0px) and (max-width: 480px) {.logo_sp {float: none;}}


.call_sp, .messengers_sp  {display: block; float: left; width: 165px; margin-left: .5em; margin-bottom: 1em;}

.call_sp p, .messengers_sp p {margin: 0 auto; padding: .5em; background-color: #fa8368; width: 100%; color: #ffffff; font-weight: bold;}

.viber_link {padding: .2em 0em; display: block !important; min-height: .7em;}
.viber_link_img {width: 3em !important; float: left !important; padding: .5em 0em  !important;}
.viber_link_number {float: left !important; padding-left: .5em; padding-top: .35em !important;}
.number_viber {display: block  !important; float: left  !important; padding-left: .5em  !important;}

.whatsapp_link {padding: .2em 0em; display: block !important; min-height: .7em;}
.whatsapp_link_img {width: 6em !important; float: left !important; padding: .2em 0em  !important;}
.whatsapp_link_number {float: left !important; padding-left: .5em; padding-top: .35em !important;}
.number_whatsapp {display: block  !important; float: left  !important; padding-left: .5em  !important;}

.call_number {padding-top: .5em;}

@media (min-width: 480px) and (max-width: 764px) {.top_head {margin-bottom: 1em; height: 6em; margin-left: auto; margin-right: auto; width: 470px;}}
@media (min-width: 375px) and (max-width: 480px) {.call_and_messengers_sp {display: block; margin-left: auto; margin-right: auto; width: 350px; height: 6em;}}

.important_message {display: block; width: 245px; float: left; padding: .5em; margin: 0 0 0 2em; color: #ffffffff;
    background-color: #fa8368;}
@media (min-width: 0px) and (max-width: 764px) {.important_message {width: 100%; margin: 0;}}
.important_message p { margin: 0; font-weight: bold;}

.main_menu {display: block; width: 100%;}
.main_menu ul {display: inline-block; padding-left: 0; margin: .5em 0 0 0;}
.main_menu ul li {display: inline-block;}
.main_menu ul li a {display: block; padding: .5em; background-color: #7b7b7b; margin: 0 .0 0.5em 0; color: #ffffff;}

.l_head_sp {min-height: .5em; margin: 0; background-color: #7b7b7b;}

.info_sp p {font-weight: bold; text-align: justify;}
.info_sp .remote_control {margin: 0; padding: .5em; color: rgb(255, 255, 255); background-color: #d93f3f; margin: 0 0 1em 0;}

.towns_sp {display: block; min-height: 10em; margin: 0 0 1em 0;}
@media (min-width: 0px) and (max-width: 414px) {.towns_sp {min-height: 19em;}}
@media (min-width: 414px) and (max-width: 550px) {.towns_sp {min-height: 16em;}}
.info_towns {display: block; float: left;}
@media (min-width: 637px) {.info_towns {width: 70%;}}
@media (min-width: 550px) and (max-width: 637px) {.info_towns {width: 65%;}}
.logo_towns {display: block; float: left; margin: 1.5em 0em 1em 2.5em;}

@media (min-width: 0px) and (max-width: 550px){.logo_towns {width: 100%; margin: 0;}}
@media (min-width: 0px) and (max-width: 550px) {.logo_towns img {display: block; margin-left: auto; margin-right: auto;}}

.brand-product, .clients {/*background-color: #fa8368;*/ height: 18em; margin: 0 0 1em 0;}
.brand-presentation h3, .video-from-objects h3, .brand-product h3, .clients h3, .contacs h3, .info_sp h3, .gallery_sp h3 {margin: 0; padding: .5em; color: #ffffffff; background-color: #fa8368;}

.brand-presentation {min-height: 15em; display: block; margin: 0 0 1em 0;}
@media (min-width: 0px) and (max-width: 414px) {.brand-presentation {min-height: 8em;}}
@media (min-width: 414px) and (max-width: 550px) {.brand-presentation {min-height: 10em;}}
@media (min-width: 550px) and (max-width: 675px) {.brand-presentation {min-height: 12em;}}
.image_bp {width: 25%; display: block; float: left;}

.video-from-objects {background-color: #fa8368; height: 18em; margin: 0 0 1em 0; width: 100%}
.container {width: inherit;}

.logo_contacs_f_sp {margin: 0 0 1em 1em; display: block;}

.contacs {height: 20em; margin-bottom: 1em;}

@media (min-width: 0px) and (max-width: 756px) {.logo_text_map_sp {display: block; width: 320px; margin-left: auto; margin-right: auto;}}
@media (min-width: 0px) and (max-width: 756px) {.contacs {height: 31em;}}
.logo-contacs {display: block; float: left; width: auto; margin: 1em 1em 0 0; }
.logo-contacs a img {width: 120px;}

.contacs-sector-brand {display: block;  width: 9em; float: left;}
.contacs-sector-contact {margin: 1em 0 0 0; width: 15em; float: left;}


.map_yandex {display: block; float: left; margin: 0 0 1em 1em;}
@media (min-width: 0px) and (max-width: 735px) {.map_yandex {width: 320px; margin: 0;}}

.footer-bottom {display: inline-block;}
.title-site {color: #ffffff; margin: 0 0 0 0; padding: .5em;}

footer {min-height: auto; margin: 0 auto 0 auto; background-color: #7b7b7b;}

.footer_sp {display: block; min-height: auto;}


/* galley style */

.container_gallery {
    position: relative;
    margin: 1em 0;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fa8368;
    opacity: 60%;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: #ffffff;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: #242424;
    opacity: 60%;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #fa8368;
    padding: 2px 16px;
    color: white;
    margin: .5em 0;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.56%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }